.slds-form__row {
    display: flex;
    margin-bottom: 1rem;
}

.slds-form__item {
    flex: 1;
    margin-right: 1rem;
}

.slds-form__item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .slds-form__row {
        flex-direction: column;
    }
    
    .slds-form__item {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}