/* personalInfoForm.css */
:host {
    --slds-c-input-color-border: #dddbda;
    --slds-c-input-radius-border: 0.25rem;
    --slds-c-input-text-color: #3e3e3c;
}

.slds-section__title {
    background-color: #1B396A;
    color: white;
    padding: 0.5rem;
    font-size: 1.125rem;
    font-weight: bold;
}

lightning-input, lightning-combobox {
    --slds-c-input-spacing-horizontal-start: 0.5rem;
    --slds-c-input-spacing-horizontal-end: 0.5rem;
}

lightning-helptext {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    display: block;
}

@media (max-width: 768px) {
    .slds-grid {
        flex-direction: column;
    }

    lightning-button {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}
