:host {
    display: block;
}

.form-page {
    margin-top: 2rem;
}

.slds-notify {
    margin: 1rem 0;
    padding: 1rem;
}

h2 {
    color: rgb(62, 62, 60);
}

h3 {
    margin-bottom: 1rem;
}

lightning-input, 
lightning-combobox {
    margin-bottom: 1rem;
}

.slds-grid {
    margin-bottom: 1rem;
}
