:host {
    display: block;
}

.select-button {
    --slds-c-button-neutral-color-background: #1b2834;
    --slds-c-button-neutral-color-border: #1b2834;
    --slds-c-button-neutral-text-color: #ffffff;
}

.select-button:hover {
    --slds-c-button-neutral-color-background-hover: #2c3f50;
    --slds-c-button-neutral-color-border-hover: #2c3f50;
}
