.slds-card {
    background: #ffffff;
    border-radius: 0.25rem;
    border: 1px solid #dddbda;
}

.slds-card__body_inner {
    padding: 1rem;
}

@media screen and (max-width: 48em) {
    .slds-form-element {
        margin-bottom: 1rem;
    }
}