.search-input {
    max-width: 500px;
}

.slds-card {
    background: white;
}

.slds-item_label {
    width: 30%;
    color: rgb(62, 62, 60);
    font-size: .75rem;
    line-height: 1.25;
    padding-right: .75rem;
}

.slds-item_detail {
    width: 70%;
    font-size: .75rem;
    line-height: 1.25;
}
