.slds-listbox__option-text_entity {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.slds-listbox__option-meta_entity {
    font-size: 0.75rem;
    color: #706e6b;
}