.slds-form-element {
    max-width: 500px;
}

.slds-input-has-icon {
    display: flex;
    align-items: flex-end;
}

.slds-dl_horizontal__label {
    float: left;
    clear: left;
    width: 30%;
    padding-right: .75rem;
    font-weight: bold;
}

.slds-dl_horizontal__detail {
    margin-left: 30%;
}