.slds-card {
    background: white;
    border-radius: 0.25rem;
}

.slds-input-has-icon {
    position: relative;
}

.slds-border_bottom {
    border-bottom: 1px solid #d8dde6;
}

.slds-border_bottom:last-child {
    border-bottom: none;
}