.slds-listbox__option:hover {
    background-color: #f3f2f2;
    cursor: pointer;
}

.slds-combobox__input {
    transition: border-color 0.1s linear;
}

.slds-combobox__input:focus {
    border-color: #1589ee;
    box-shadow: 0 0 3px #0070d2;
}