.abn-details {
    background-color: #ffffff;
}

.slds-dl_horizontal__label {
    color: #706e6b;
    font-size: 0.875rem;
    padding-right: 0.75rem;
    width: 33%;
}

.slds-dl_horizontal__detail {
    font-size: 0.875rem;
    padding-bottom: 0.5rem;
}