/* Custom styles for the component */
:host {
    display: block;
}

.slds-card {
    background: white;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}

lightning-input.required,
lightning-combobox.required {
    --lwc-colorBorderError: rgb(194, 57, 52);
}